
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #300000;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  z-index: 1000;
  font-family: "Lugrasimo", cursive;
  font-size: 60px;
  padding: 20px 0 0 0;

}
header,
header h1,
nav,
nav ul li a,
button {
  color: white;
}

header h1 {
  font-size: 50px;
  margin: 0;
}


#translator {
  position: absolute;
  right: 15px;
  top: 10px;
}

button {
  background-color: #000000;
  color: #a3a1a1;
}


nav {
  width: 100%;
  background-color: #300000;
  color: white;
}


nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 10px 0;
}

nav ul li {
   margin:  20px;
}
nav ul li a {
  color: white;
  text-decoration: none;
   padding: 6px 12px;
  font-size: 14px;
  text-align: center;
  display: block;
}
nav ul li a:hover {
  background-color: #000000; 
  color: white; 
}


body {
  background: radial-gradient(circle, #be3a3a, #5e0808);
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;  
  align-items: center;      
}

table {
  width: 60%;
  border-collapse: collapse;
  text-align: center;
  
}

th, td {
  padding: 10px 20px;

  text-align: center;
  vertical-align: middle;
}

th {
  font-weight: bold; 
  font-family:"Lugrasimo", cursive ;
}

.botonesAbout{
  background-color: #300000;
  color: #a3a1a1;
  font-size: 16px;
  border: 2px solid #300000;
  border-radius: 5px;
  padding: 5px 10px;
  appearance: none; 
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  transition: 0.3s ease;
}

.botonesAbout:hover{
  border-color: #3b1818;
  background-color: #3b3b3b;
}


